
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Course Performance</title>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/course.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/newscore.css">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    </head>
    <body>
    <div class='container'>



          <!-- NAVBAR AT TOP OF PAGE -->

          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">i.Caddy</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/profile">My Profile</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Golfer Options<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/mycourses">Submit A New Score</a></li>
                      <li><a href="/scorelist">View All Scores</a></li>
                      <li><a href="/scorecard">Create a New Scorecard Template</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
            

        <h3 id='courseName'>Course Name: </h3>
        <h5 id='noOfRounds'>No. of Rounds: </h5>
        <h5 id='lateGameDate'>Date of Last Round: </h5><br>       


                <!-- RECENT SCORES TABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">Performance Summary:</div>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Gross</td>
                                    <td>Putts</td>
                                    <td>Nett</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Best</td>
                                    <td id='bestGross'></td>
                                    <td id='bestPutts'></td>
                                    <td id='bestNett'></td>
                                </tr>
                                <tr>
                                    <td>Mean</td>
                                    <td id='meanGross'></td>
                                    <td id='meanPutts'></td>
                                    <td id='meanNett'></td>
                                </tr>
                                <tr>
                                    <td>Worst</td>
                                    <td id='worstGross'></td>
                                    <td id='worstPutts'></td>
                                    <td id='worstNett'></td>
                                </tr>                                                                    
                            </tbody>
                        </table>
                    <!-- <div class="panel-footer"></div> -->
                </div><br>


                <!-- RECENT SCORES TABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">Rounds Played:</div>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Gross Score</td>
                                    <td>No. of Putts</td>
                                    <td>Delete</td>
                                </tr>
                            </thead>
                            <tbody id='rounds-placeholder'></tbody>
                        </table>
                    <div class="panel-footer"><a href="/scorelist">View All Your Scores</a></div>
                </div><br>






    </div>
    </body>
</html>





      <script type="text/template" id="rounds-template">
                <tr>
                    <td> <%= date %> </td>
                    <td> <%= totalScore %> </td>
                    <td> <%= totalPutts %> </td>
                    <td> <div class="btn-group btn-group-xs close" role="group" aria-label="..." onclick='deleteScore(this)' data-id=<%= _id %> >X</div> </td>
                </tr>
      </script>


