
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Course Performance</title>
        
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/javascript/course.js"></script>
        <script src='/vendor/Chart.js/Chart.min.js'></script>
        <script src="/vendor/Chart.js/Chart.js"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">        
        <link rel="stylesheet" type="text/css" href="/static/css/newscore.css">


    </head>
    <body>
    <div class='container'>

          <!-- NAVBAR AT TOP OF PAGE -->

          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">i.Caddy</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/profile">My Profile</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Golfer Options<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/mycourses">Submit A New Score</a></li>
                      <li><a href="/scorelist">View All Scores</a></li>
                      <li><a href="/scorecard">Create a New Scorecard Template</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
            

        <h3 id='courseName'>Course Name: </h3>
        <h5 id='noOfRounds'>No. of Rounds: </h5>
        <h5 id='lastGameDate'>Date of Last Round: </h5><br>       
                <!-- RECENT SCORES TABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">Performance Summary:</div>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Gross</td>
                                    <td>Putts</td>
                                    <td>Nett</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Best</td>
                                    <td id='bestGross'></td>
                                    <td id='bestPutts'></td>
                                    <td id='bestNett'></td>
                                </tr>
                                <tr>
                                    <td>Mean</td>
                                    <td id='meanGross'></td>
                                    <td id='meanPutts'></td>
                                    <td id='meanNett'></td>
                                </tr>
                                <tr>
                                    <td>Worst</td>
                                    <td id='worstGross'></td>
                                    <td id='worstPutts'></td>
                                    <td id='worstNett'></td>
                                </tr>                                                                    
                            </tbody>
                        </table>
                    <!-- <div class="panel-footer"></div> -->
                </div><br>



                <!-- RECENT SCORES TABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">Performance by Hole:</div>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <td>Hole</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>Front 9</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Par</td>
                                    <td id='par1'></td>
                                    <td id='par2'></td>
                                    <td id='par3'></td>
                                    <td id='par4'></td>
                                    <td id='par5'></td>
                                    <td id='par6'></td>
                                    <td id='par7'></td>
                                    <td id='par8'></td>
                                    <td id='par9'></td>
                                    <td id='front9par'></td>                                    
                                </tr>
                                    <td>Yardage</td>
                                    <td id='yardage1'></td>
                                    <td id='yardage2'></td>
                                    <td id='yardage3'></td>
                                    <td id='yardage4'></td>
                                    <td id='yardage5'></td>
                                    <td id='yardage6'></td>
                                    <td id='yardage7'></td>
                                    <td id='yardage8'></td>
                                    <td id='yardage9'></td>
                                    <td id='front9yardage'></td>                                    
                                </tr>
                                <tr>
                                    <td>Avg. Gross</td>
                                    <td id='avgGross1'></td>
                                    <td id='avgGross2'></td>
                                    <td id='avgGross3'></td>
                                    <td id='avgGross4'></td>
                                    <td id='avgGross5'></td>
                                    <td id='avgGross6'></td>
                                    <td id='avgGross7'></td>
                                    <td id='avgGross8'></td>
                                    <td id='avgGross9'></td>
                                    <td id='front9avgGross'></td>                                    
                                </tr>
                                <tr>
                                    <td>Avg. Putts</td>
                                    <td id='avgPutts1'></td>
                                    <td id='avgPutts2'></td>
                                    <td id='avgPutts3'></td>
                                    <td id='avgPutts4'></td>
                                    <td id='avgPutts5'></td>
                                    <td id='avgPutts6'></td>
                                    <td id='avgPutts7'></td>
                                    <td id='avgPutts8'></td>
                                    <td id='avgPutts9'></td>
                                    <td id='front9avgPutts'></td>                                    
                                </tr>                                
                                <tr class="panel-footer">
                                    <td></td>                                  
                                    <td></td>
                                    <td></td>
                                    <td></td>                                  
                                    <td></td>
                                    <td></td>
                                    <td></td>                                  
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>10</td>
                                    <td>11</td>
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                    <td>Back 9</td>
                                </tr>

                                <tr>
                                    <td>Par</td>
                                    <td id='par10'></td>
                                    <td id='par11'></td>
                                    <td id='par12'></td>
                                    <td id='par13'></td>
                                    <td id='par14'></td>
                                    <td id='par15'></td>
                                    <td id='par16'></td>
                                    <td id='par17'></td>
                                    <td id='par18'></td>
                                    <td id='back9par'></td>                                    
                                </tr>
                                    <td>Yardage</td>
                                    <td id='yardage10'></td>
                                    <td id='yardage11'></td>
                                    <td id='yardage12'></td>
                                    <td id='yardage13'></td>
                                    <td id='yardage14'></td>
                                    <td id='yardage15'></td>
                                    <td id='yardage16'></td>
                                    <td id='yardage17'></td>
                                    <td id='yardage18'></td>
                                    <td id='back9yardage'></td>                                    
                                </tr>
                                <tr>
                                    <td>Avg. Gross</td>
                                    <td id='avgGross10'></td>
                                    <td id='avgGross11'></td>
                                    <td id='avgGross12'></td>
                                    <td id='avgGross13'></td>
                                    <td id='avgGross14'></td>
                                    <td id='avgGross15'></td>
                                    <td id='avgGross16'></td>
                                    <td id='avgGross17'></td>
                                    <td id='avgGross18'></td>
                                    <td id='back9avgGross'></td>                                    
                                </tr>
                                <tr>
                                    <td>Avg. Putts</td>
                                    <td id='avgPutts10'></td>
                                    <td id='avgPutts11'></td>
                                    <td id='avgPutts12'></td>
                                    <td id='avgPutts13'></td>
                                    <td id='avgPutts14'></td>
                                    <td id='avgPutts15'></td>
                                    <td id='avgPutts16'></td>
                                    <td id='avgPutts17'></td>
                                    <td id='avgPutts18'></td>
                                    <td id='back9avgPutts'></td>                                    
                                </tr>                                                                     
                            </tbody>
                        </table>
                </div><br>

                <canvas id="canvas" width="50" height="25"></canvas><br><br>


                <!-- RECENT SCORES TABLE -->
                <div class="panel panel-default">
                    <div class="panel-heading">Rounds Played:</div>
                        <table class="table" >
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Gross Score</td>
                                    <td>No. of Putts</td>
                                    <td>Delete</td>
                                </tr>
                            </thead>
                            <tbody id='rounds-placeholder'></tbody>
                        </table>
                    <div class="panel-footer"><a href="/scorelist">View All Your Scores</a></div>
                </div><br>



    </div>
    </body>
</html>





      <script type="text/template" id="rounds-template">
                <tr>
                    <td> <% var d = new Date(date), 
                                fragments = [
                                        d.getDate(),
                                        d.getMonth() + 1,
                                        d.getFullYear()
                                ];
                                print(fragments.join('/'));
                     %> </td>
                    <td> <%= totalScore %> </td>
                    <td> <%= totalPutts %> </td>
                    <td> <div class="btn-group btn-group-xs close" role="group" aria-label="..." onclick='deleteScore(this)' data-id=<%= _id %> >X</div> </td>
                </tr>

      </script>

      <script>



      </script>


