<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Courses</title>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/newscore.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/newscore.css">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    </head>
    <body>
        <div class='container'>

                <h1>List of User Courses</h1>

        </div>
        
    </body>
</html>