
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Score</title>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/newscore.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/newscore.css">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    </head>
    <body>
    <div class='container'>

        <h1>New Score Page</h1>
    
            <form method='POST' action='/:course/newscore' id='new-score'>
   
                <input placeholder="Date of Round" class="textbox-n" type="" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" name='date'>

                <input type="hidden" id="courseID" name='coursename' value=''>
                
                <table>
                    <thead>
                        <tr>
                            <td>Score</td>
                            <td>No. of Putts</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='1' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                            
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='2' class="form-control" placeholder="2nd hole" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='3' class="form-control" placeholder="3rd hole" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='4' class="form-control" placeholder="4th hole" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='5' class="form-control" placeholder="5th hole" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='6' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='7' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='8' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='9' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='10' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='11' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='12' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='13' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>                                                
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='14' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='15' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='16' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='17' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                        <tr>
                            <td>
                                <input type="number" name='score[]' id='18' class="form-control" placeholder="" aria-describedby="sizing-addon2" min='1' max='10'>
                            </td>
                            <td>
                                <input type="number" name='putts[]' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='10'>
                            </td>                             
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-default">Submit Score</button>
            </form>  

    </div>



        <!-- JQUERY TO EXTRACT COURSE ID FROM URL BAR AND PUT IN HIDDEN FIELD -->

        <script>
        function courseData() {
            var pathArray = window.location.pathname.split('/');
            var courseID = pathArray[1]; 
            var customURL = "/" + courseID + ".json"            
            // REGEX to extract the course ID
            $('#courseID').val(courseID);

            // 1. AJAX request to get course info, querying DB using courseID
            $.ajax({
                url: customURL,
                data: courseID, 
                datatype: 'json',
                // success: function(data) {
                // var courses = data;
                // console.log('AJAX request here: ' + courses);
            });
        };





        $(function() {

            courseData();

        });

        </script>



    </body>
</html>