
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Score</title>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/newscore.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/newscore.css">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    </head>
    <body>
    <div class='container'>

          <!-- NAVBAR AT TOP OF PAGE -->

          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">i.Caddy</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/profile">My Profile</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Golfer Options<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/mycourses">Submit A New Score</a></li>
                      <li><a href="/scorelist">View All Scores</a></li>
                      <li><a href="/scorecard">Create a New Scorecard Template</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          

          <h3 id='courseName'>Course: </h3>

          <form method='POST' action='/:course/newscore' id='new-score'>

            <div class="input-group input-group">
                <span class="input-group-addon" id="sizing-addon1">Date of Game:</span>
                <input placeholder="Date of Round" class="form-control" type="" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" name='date' required='true'>
            </div><br>

                <input type="hidden" id="courseID" name='courseID' value=''>
                <input type="hidden" id="courseNameVal" name='courseName' value=''><br>

                        <table class='table'>

                                <div class='row row-eq-height'>

                                        <div class='col-xs-1 col-md-1 col-lg-1'>

                                               <p class='scoreHeader'>Hole</p><br>

                                               <!-- Hole Number 1 - 18 -->
                                               <div class='form-control'>1</div>
                                               <div class='form-control'>2</div>
                                               <div class='form-control'>3</div>
                                               <div class='form-control'>4</div>
                                               <div class='form-control'>5</div>
                                               <div class='form-control'>6</div>
                                               <div class='form-control'>7</div>
                                               <div class='form-control'>8</div>
                                               <div class='form-control'>9</div><br>
                                               <div class='form-control'>10</div>                     
                                               <div class='form-control'>11</div>
                                               <div class='form-control'>12</div>
                                               <div class='form-control'>13</div>
                                               <div class='form-control'>14</div>
                                               <div class='form-control'>15</div>
                                               <div class='form-control'>16</div>
                                               <div class='form-control'>17</div>
                                               <div class='form-control'>18</div>
                                        </div>

                                        <div class='col-xs-1 col-md-1 col-lg-1'>

                                                <p class='scoreHeader'>Par</p><br>

                                                <!-- Par for Holes 1 - 18 -->                                                                                       <div id='par1' class='form-control'></div>
                                                        <div id='par2' class='form-control'></div>                                              
                                                        <div id='par3' class='form-control'></div>
                                                        <div id='par4' class='form-control'></div>
                                                        <div id='par5' class='form-control'></div>
                                                        <div id='par6' class='form-control'></div>
                                                        <div id='par7' class='form-control'></div>
                                                        <div id='par8' class='form-control'></div>
                                                        <div id='par9' class='form-control'></div><br>
                                                        <div id='par10' class='form-control'></div>
                                                        <div id='par11' class='form-control'></div>
                                                        <div id='par12' class='form-control'></div>
                                                        <div id='par13' class='form-control'></div>
                                                        <div id='par14' class='form-control'></div>
                                                        <div id='par15' class='form-control'></div>
                                                        <div id='par16' class='form-control'></div>
                                                        <div id='par17' class='form-control'></div>
                                                        <div id='par18' class='form-control'></div>

                                        </div>

                                        <div class='col-xs-3 col-md-2 col-lg-2'>

                                               <p class='scoreHeader'>Gross Score</p><br>

                                                <!-- Score for Holes 1 - 9 -->
                                                <input type="number" name='score[]' id='score1' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc1()'>
                                                <input type="number" name='score[]' id='score2' class="form-control" placeholder="2nd hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc2()'>
                                                <input type="number" name='score[]' id='score3' class="form-control" placeholder="3rd hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc3()'>
                                                <input type="number" name='score[]' id='score4' class="form-control" placeholder="4th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc4()'>
                                                <input type="number" name='score[]' id='score5' class="form-control" placeholder="5th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc5()'>
                                                <input type="number" name='score[]' id='score6' class="form-control" placeholder="6th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc6()'>
                                                <input type="number" name='score[]' id='score7' class="form-control" placeholder="7th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc7()'>
                                                <input type="number" name='score[]' id='score8' class="form-control" placeholder="8th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc8()'>
                                                <input type="number" name='score[]' id='score9' class="form-control" placeholder="9th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc9()'><br>
                                                <input type="number" name='score[]' id='score10' class="form-control" placeholder="10th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc10()'>
                                                <input type="number" name='score[]' id='score11' class="form-control" placeholder="11th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc11()'>
                                                <input type="number" name='score[]' id='score12' class="form-control" placeholder="12th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc12()'>
                                                <input type="number" name='score[]' id='score13' class="form-control" placeholder="13th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc13()'>
                                                <input type="number" name='score[]' id='score14' class="form-control" placeholder="14th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc14()'>
                                                <input type="number" name='score[]' id='score15' class="form-control" placeholder="15th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc15()'>
                                                <input type="number" name='score[]' id='score16' class="form-control" placeholder="16th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc16()'>
                                                <input type="number" name='score[]' id='score17' class="form-control" placeholder="17th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc17()'>
                                                <input type="number" name='score[]' id='score18' class="form-control" placeholder="18th hole" aria-describedby="sizing-addon2" min='1' max='10' required='true' onblur='calc18()'>

                                        </div>


                                        <div class='col-xs-3 col-md-2 col-lg-2'>

                                                <!-- Number of Putts Holes 1 - 18 -->

                                                <p class='scoreHeader'>No. of Putts</p><br>

                                                <input type="number" name='putts[]' id='putts1' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" min='0' max='' required='true'>
                                                <input type="number" name='putts[]' id='putts2' class="form-control" placeholder="2nd hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts3' class="form-control" placeholder="3rd hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts4' class="form-control" placeholder="4th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts5' class="form-control" placeholder="5th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts6' class="form-control" placeholder="6th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts7' class="form-control" placeholder="7th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts8' class="form-control" placeholder="8th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts9' class="form-control" placeholder="9th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'><br>
                                                <input type="number" name='putts[]' id='putts10' class="form-control" placeholder="10th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts11' class="form-control" placeholder="11th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts12' class="form-control" placeholder="12th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts13' class="form-control" placeholder="13th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts14' class="form-control" placeholder="14th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts15' class="form-control" placeholder="15th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts16' class="form-control" placeholder="16th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts17' class="form-control" placeholder="17th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>
                                                <input type="number" name='putts[]' id='putts18' class="form-control" placeholder="18th hole" aria-describedby="sizing-addon2" min='0' max='10' required='true'>

                                        </div>

                                        <div class='col-xs-3 col-md-2 col-lg-2'>

                                              <p class='scoreHeader'> + / - </p><br>

                                          <!-- Nett Score Holes 1 - 18 -->
                                                <input type="number" name='nett[]' id='nett1' class="form-control" placeholder="1st hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett2' class="form-control" placeholder="2nd hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett3' class="form-control" placeholder="3rd hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett4' class="form-control" placeholder="4th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett5' class="form-control" placeholder="5th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett6' class="form-control" placeholder="6th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett7' class="form-control" placeholder="7th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett8' class="form-control" placeholder="8th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett9' class="form-control" placeholder="9th hole" aria-describedby="sizing-addon2" required='true'><br>
                                                <input type="number" name='nett[]' id='nett10' class="form-control" placeholder="10th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett11' class="form-control" placeholder="11th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett12' class="form-control" placeholder="12th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett13' class="form-control" placeholder="13th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett14' class="form-control" placeholder="14th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett15' class="form-control" placeholder="15h hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett16' class="form-control" placeholder="16th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett17' class="form-control" placeholder="17th hole" aria-describedby="sizing-addon2" required='true'>
                                                <input type="number" name='nett[]' id='nett18' class="form-control" placeholder="18th hole" aria-describedby="sizing-addon2" required='true'>

                                        </div>

                                </div>

                        </table><br>
                        <button class="btn btn-default">Submit Scorecard Template</button>
                    </form>






    </div> <!-- for container class -->



        <!-- JQUERY TO EXTRACT COURSE ID FROM URL BAR AND PUT IN HIDDEN FIELD -->

        <script>

        function displayAll(data) {
                // console.log(data);
                var info = data;
                var par = data[0].par;
                var name = data[0].coursename;
                
                // Adding course name //
                $('#courseName').append(name);
                $('#courseNameVal').val(name);

                // JQuery for adding Par to each hole //
                $('#par1').text(par[0]);
                $('#par2').text(par[1]);
                $('#par3').text(par[2]);
                $('#par4').text(par[3]);
                $('#par5').text(par[4]);
                $('#par6').text(par[5]);
                $('#par7').text(par[6]);
                $('#par8').text(par[7]);
                $('#par9').text(par[8]);
                $('#par10').text(par[9]);
                $('#par11').text(par[10]);
                $('#par12').text(par[11]);
                $('#par13').text(par[12]);
                $('#par14').text(par[13]);
                $('#par15').text(par[14]);
                $('#par16').text(par[15]);                               
                $('#par17').text(par[16]);
                $('#par18').text(par[17]);

                $('#par1').val(par[0]);
                $('#par2').val(par[1]);
                $('#par3').val(par[2]);
                $('#par4').val(par[3]);
                $('#par5').val(par[4]);
                $('#par6').val(par[5]);
                $('#par7').val(par[6]);
                $('#par8').val(par[7]);
                $('#par9').val(par[8]);
                $('#par10').val(par[9]);
                $('#par11').val(par[10]);
                $('#par12').val(par[11]);
                $('#par13').val(par[12]);
                $('#par14').val(par[13]);
                $('#par15').val(par[14]);
                $('#par16').val(par[15]);                               
                $('#par17').val(par[16]);
                $('#par18').val(par[17]);
        }


     // Calculations for Nett Score //
     function calc1() {
            var score = $('#score1').val();
            var par = $('#par1').val();
            var math = ((score) - (par));
            $('#nett1').val(math);
            maxPutts1();
     }

     function calc2() {
            var score = $('#score2').val();
            var par = $('#par2').val();
            var math = ((score) - (par));
            $('#nett2').val(math);
            maxPutts2();
     }

     function calc3() {
            var score = $('#score3').val();
            var par = $('#par3').val();
            var math = ((score) - (par));
            $('#nett3').val(math);
            maxPutts3();
     }

     function calc4() {
            var score = $('#score4').val();
            var par = $('#par4').val();
            var math = ((score) - (par));
            $('#nett4').val(math);
            maxPutts4();
     }

     function calc5() {
            var score = $('#score5').val();
            var par = $('#par5').val();
            var math = ((score) - (par));
            $('#nett5').val(math);
            maxPutts5();
     }

     function calc6() {
            var score = $('#score6').val();
            var par = $('#par6').val();
            var math = ((score) - (par));
            $('#nett6').val(math);
            maxPutts6();
     }

     function calc7() {
            var score = $('#score7').val();
            var par = $('#par7').val();
            var math = ((score) - (par));
            $('#nett7').val(math);
            maxPutts7();
     }

     function calc8() {
            var score = $('#score8').val();
            var par = $('#par8').val();
            var math = ((score) - (par));
            $('#nett8').val(math);
            maxPutts8();
     }

     function calc9() {
            var score = $('#score9').val();
            var par = $('#par9').val();
            var math = ((score) - (par));
            $('#nett9').val(math);
            maxPutts9();
     }

     function calc10() {
            var score = $('#score10').val();
            var par = $('#par10').val();
            var math = ((score) - (par));
            $('#nett10').val(math);
            maxPutts10();
     }

     function calc11() {
            var score = $('#score11').val();
            var par = $('#par11').val();
            var math = ((score) - (par));
            $('#nett11').val(math);
            maxPutts11();
     }

     function calc12() {
            var score = $('#score12').val();
            var par = $('#par12').val();
            var math = ((score) - (par));
            $('#nett12').val(math);
            maxPutts12();
     }

     function calc13() {
            var score = $('#score13').val();
            var par = $('#par13').val();
            var math = ((score) - (par));
            $('#nett13').val(math);
            maxPutts13();
     }

     function calc14() {
            var score = $('#score14').val();
            var par = $('#par14').val();
            var math = ((score) - (par));
            $('#nett14').val(math);
            maxPutts14();
     }

     function calc15() {
            var score = $('#score15').val();
            var par = $('#par15').val();
            var math = ((score) - (par));
            $('#nett15').val(math);
            maxPutts15();
     }

     function calc16() {
            var score = $('#score16').val();
            var par = $('#par16').val();
            var math = ((score) - (par));
            $('#nett16').val(math);
            maxPutts16();
     }

     function calc17() {
            var score = $('#score17').val();
            var par = $('#par17').val();
            var math = ((score) - (par));
            $('#nett17').val(math);
            maxPutts17();
     }

     function calc18() {
            var score = $('#score18').val();
            var par = $('#par18').val();
            var math = ((score) - (par));
            $('#nett18').val(math);
            maxPutts18();
     }

     // Calculations for Maximum Putts on each hole //

     function maxPutts1() {
            var max = ($('#score1').val() - 1);
            $('#putts1').attr('max', max);
     }

     function maxPutts2() {
            var max = ($('#score2').val() - 1);
            $('#putts2').attr('max', max);
     }

     function maxPutts3() {
            var max = ($('#score3').val() - 1);
            $('#putts3').attr('max', max);
     }

     function maxPutts4() {
            var max = ($('#score4').val() - 1);
            $('#putts4').attr('max', max);
     }

     function maxPutts5() {
            var max = ($('#score5').val() - 1);
            $('#putts5').attr('max', max);
     }

     function maxPutts6() {
            var max = ($('#score6').val() - 1);
            $('#putts6').attr('max', max);
     }

     function maxPutts7() {
            var max = ($('#score7').val() - 1);
            $('#putts7').attr('max', max);
     }

     function maxPutts8() {
            var max = ($('#score8').val() - 1);
            $('#putts8').attr('max', max);
     }

     function maxPutts9() {
            var max = ($('#score9').val() - 1);
            $('#putts9').attr('max', max);
     }

     function maxPutts10() {
            var max = ($('#score10').val() - 1);
            $('#putts10').attr('max', max);
     }

     function maxPutts11() {
            var max = ($('#score11').val() - 1);
            $('#putts11').attr('max', max);
     }

     function maxPutts12() {
            var max = ($('#score12').val() - 1);
            $('#putts12').attr('max', max);
     }

     function maxPutts13() {
            var max = ($('#score13').val() - 1);
            $('#putts13').attr('max', max);
     }

     function maxPutts14() {
            var max = ($('#score14').val() - 1);
            $('#putts14').attr('max', max);
     }

     function maxPutts15() {
            var max = ($('#score15').val() - 1);
            $('#putts15').attr('max', max);
     }

     function maxPutts16() {
            var max = ($('#score16').val() - 1);
            $('#putts16').attr('max', max);
     }

     function maxPutts17() {
            var max = ($('#score17').val() - 1);
            $('#putts17').attr('max', max);
     }

     function maxPutts18() {
            var max = ($('#score18').val() - 1);
            $('#putts18').attr('max', max);
     }



     $items = $('#numberOfItems').val();
     $weightitem = $('#weightitem').val();


        // AJAX request to get course data - name, par etc. //
        function courseData() {
            var pathArray = window.location.pathname.split('/');
            var courseID = pathArray[1]; 
            var customURL = "/" + courseID + '.json'           
            // REGEX to extract the course ID
            $('#courseID').val(courseID);

            // 1. AJAX request to get course info, querying DB using courseID
            $.ajax({
                    url: customURL,
                    type: 'GET',
                    datatype: 'json',
                    success: displayAll
            });
        };

        $(function() {

            courseData();

        });




        </script>



    </body>
</html>