
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Score Page</title>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/newscore.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/newscore.css">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    </head>
    <body>
    <div class='container'>

          <!-- NAVBAR AT TOP OF PAGE -->

          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">i.Caddy</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/profile">My Profile</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Golfer Options<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/mycourses">Submit A New Score</a></li>
                      <li><a href="/scorelist">View All Scores</a></li>
                      <li><a href="/scorecard">Create a New Scorecard Template</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          
        <h3 id='courseName'>Course Name: </h3>
        <h5 id='gameDate'>Date of Round: </h5>
        <h5 id='playingPartners'>Playing Partners: </h5>
        <br>    



                <div class="panel panel-default">
                    <!-- <div id='courseName' class="panel-heading">Course Name:   </div> -->
                        <table class="table" >
                            <thead>
                                <tr class="panel-heading">
                                    <td>Hole</td>
                                    <td>Par</td>
                                    <td>Yardage</td>
                                    <td>Score</td>
                                    <td>Putts</td>
                                    <td>Nett Score</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1st</td>
                                    <td id='par1'></td>
                                    <td id='yardage1'></td>
                                    <td id='score1'></td>          
                                    <td id='putts1'></td>
                                    <td id='nett1'></td>
                                </tr>
                                <tr>
                                    <td>2nd</td>
                                    <td id='par2'></td>
                                    <td id='yardage2'></td>
                                    <td id='score2'></td>          
                                    <td id='putts2'></td>
                                    <td id='nett2'></td>
                                </tr>
                                <tr>
                                    <td>3rd</td>
                                    <td id='par3'></td>
                                    <td id='yardage3'></td>
                                    <td id='score3'></td>          
                                    <td id='putts3'></td>
                                    <td id='nett3'></td>
                                </tr>
                                <tr>
                                    <td>4th</td>
                                    <td id='par4'></td>
                                    <td id='yardage4'></td>
                                    <td id='score4'></td>          
                                    <td id='putts4'></td>
                                    <td id='nett4'></td>
                                </tr>
                                <tr>
                                    <td>5th</td>
                                    <td id='par5'></td>
                                    <td id='yardage5'></td>
                                    <td id='score5'></td>          
                                    <td id='putts5'></td>
                                    <td id='nett5'></td>
                                </tr>
                                <tr>
                                    <td>6th</td>
                                    <td id='par6'></td>
                                    <td id='yardage6'></td>
                                    <td id='score6'></td>          
                                    <td id='putts6'></td>
                                    <td id='nett6'></td>
                                </tr>
                                <tr>
                                    <td>7th</td>
                                    <td id='par7'></td>
                                    <td id='yardage7'></td>
                                    <td id='score7'></td>          
                                    <td id='putts7'></td>
                                    <td id='nett7'></td>
                                </tr>
                                <tr>
                                    <td>8th</td>
                                    <td id='par8'></td>
                                    <td id='yardage8'></td>
                                    <td id='score8'></td>          
                                    <td id='putts8'></td>
                                    <td id='nett8'></td>
                                </tr>
                                <tr>
                                    <td>9th</td>
                                    <td id='par9'></td>
                                    <td id='yardage9'></td>
                                    <td id='score9'></td>          
                                    <td id='putts9'></td>
                                    <td id='nett9'></td>
                                </tr>
                                <tr>
                                    <td>10th</td>
                                    <td id='par10'></td>
                                    <td id='yardage10'></td>
                                    <td id='score10'></td>          
                                    <td id='putts10'></td>
                                    <td id='nett10'></td>
                                </tr>
                                <tr>
                                    <td>11th</td>
                                    <td id='par11'></td>
                                    <td id='yardage11'></td>
                                    <td id='score11'></td>          
                                    <td id='putts11'></td>
                                    <td id='nett11'></td>
                                </tr>
                                <tr>
                                    <td>12th</td>
                                    <td id='par12'></td>
                                    <td id='yardage12'></td>
                                    <td id='score12'></td>          
                                    <td id='putts12'></td>
                                    <td id='nett12'></td>
                                </tr>
                                <tr>
                                    <td>13th</td>
                                    <td id='par13'></td>
                                    <td id='yardage13'></td>
                                    <td id='score13'></td>          
                                    <td id='putts13'></td>
                                    <td id='nett13'></td>
                                </tr>
                                <tr>
                                    <td>14th</td>
                                    <td id='par14'></td>
                                    <td id='yardage14'></td>
                                    <td id='score14'></td>          
                                    <td id='putts14'></td>
                                    <td id='nett14'></td>
                                </tr>
                                <tr>
                                    <td>15th</td>
                                    <td id='par15'></td>
                                    <td id='yardage15'></td>
                                    <td id='score15'></td>          
                                    <td id='putts15'></td>
                                    <td id='nett15'></td>
                                </tr>
                                <tr>
                                    <td>16th</td>
                                    <td id='par16'></td>
                                    <td id='yardage16'></td>
                                    <td id='score16'></td>          
                                    <td id='putts16'></td>
                                    <td id='nett16'></td>
                                </tr>
                                <tr>
                                    <td>17th</td>
                                    <td id='par17'></td>
                                    <td id='yardage17'></td>
                                    <td id='score17'></td>          
                                    <td id='putts17'></td>
                                    <td id='nett17'></td>
                                </tr>
                                <tr>
                                    <td>18th</td>
                                    <td id='par18'></td>
                                    <td id='yardage18'></td>
                                    <td id='score18'></td>          
                                    <td id='putts18'></td>
                                    <td id='nett18'></td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td id='parTotal'></td>
                                    <td id='yardageTotal'></td>
                                    <td id='scoreTotal'></td>          
                                    <td id='puttsTotal'></td>
                                    <td id='nettTotal'></td>
                                </tr>    

                            </tbody>
                        </table>
                </div>

    </div>
    </body>
</html>


<script>

              // AJAX request to get course data - name, par etc. //
            function roundData() {
                var pathArray = window.location.pathname.split('/');
                var roundID = pathArray[2]; 
                var customURL = "/round/" + roundID + '.json';
                // console.log(roundID);           
                // REGEX to extract the course ID

                // 1. AJAX request to get course info, querying DB using courseID
                $.ajax({
                        url: customURL,
                        type: 'GET',
                        datatype: 'json',
                        success: function(data) {
                              console.log(data);
                              var info = data[0];

                              var courseName = info.courseName;
                              $('#courseName').append(courseName);

                              var playingPartners = info.playingPartners;
                              $('#playingPartners').append(playingPartners);


                              var monthNames = [
                                "January", "February", "March",
                                "April", "May", "June", "July",
                                "August", "September", "October",
                                "November", "December"
                              ];
                              var gameDate = info.date;
                              var slicedDate = gameDate.slice(0, 9);
                              $('#gameDate').append(slicedDate);


                              var nett = info.nettScore;
                              $('#nett1').text(nett[0]);
                              $('#nett2').text(nett[1]);
                              $('#nett3').text(nett[2]);
                              $('#nett4').text(nett[3]);
                              $('#nett5').text(nett[4]);
                              $('#nett6').text(nett[5]);
                              $('#nett7').text(nett[6]);
                              $('#nett8').text(nett[7]);
                              $('#nett9').text(nett[8]);
                              $('#nett10').text(nett[9]);
                              $('#nett11').text(nett[10]);
                              $('#nett12').text(nett[11]);
                              $('#nett13').text(nett[12]);
                              $('#nett14').text(nett[13]);
                              $('#nett15').text(nett[14]);
                              $('#nett16').text(nett[15]);
                              $('#nett17').text(nett[16]);
                              $('#nett18').text(nett[17]);
                              var nettTotal = nett.reduce(function (previousValue, currentValue, currentIndex, array) {
                                            return previousValue + currentValue;
                                          });
                                          $('#nettTotal').text(nettTotal);


                              var putts = info.putts;
                              $('#putts1').text(putts[0]);
                              $('#putts2').text(putts[1]);
                              $('#putts3').text(putts[2]);
                              $('#putts4').text(putts[3]);
                              $('#putts5').text(putts[4]);
                              $('#putts6').text(putts[5]);
                              $('#putts7').text(putts[6]);
                              $('#putts8').text(putts[7]);
                              $('#putts9').text(putts[8]);
                              $('#putts10').text(putts[9]);
                              $('#putts11').text(putts[10]);
                              $('#putts12').text(putts[11]);
                              $('#putts13').text(putts[12]);
                              $('#putts14').text(putts[13]);
                              $('#putts15').text(putts[14]);
                              $('#putts16').text(putts[15]);
                              $('#putts17').text(putts[16]);
                              $('#putts18').text(putts[17]); 

                              var totalPutts = info.totalPutts;
                              $('#puttsTotal').text(totalPutts); 

                              var score = info.score;
                              $('#score1').text(score[0]);
                              $('#score2').text(score[1]);
                              $('#score3').text(score[2]);
                              $('#score4').text(score[3]);
                              $('#score5').text(score[4]);
                              $('#score6').text(score[5]);
                              $('#score7').text(score[6]);
                              $('#score8').text(score[7]);
                              $('#score9').text(score[8]);
                              $('#score10').text(score[9]);
                              $('#score11').text(score[10]);
                              $('#score12').text(score[11]);
                              $('#score13').text(score[12]);
                              $('#score14').text(score[13]);
                              $('#score15').text(score[14]);
                              $('#score16').text(score[15]);
                              $('#score17').text(score[16]);
                              $('#score18').text(score[17]);

                              var totalScore = info.totalScore;
                              $('#scoreTotal').text(totalScore);

                              var courseIdURL = "/" + info.course_id + '.json';

                              $.ajax({
                                  url: courseIdURL,
                                  type: 'GET',
                                  datatype: 'json',
                                  success: function(courseData) {
                                      // console.log(courseData);
                                      var info2 = courseData[0];
                                      var par = info2.par;
                                          $('#par1').text(par[0]);
                                          $('#par2').text(par[1]);
                                          $('#par3').text(par[2]);
                                          $('#par4').text(par[3]);
                                          $('#par5').text(par[4]);
                                          $('#par6').text(par[5]);
                                          $('#par7').text(par[6]);
                                          $('#par8').text(par[7]);
                                          $('#par9').text(par[8]);
                                          $('#par10').text(par[9]);
                                          $('#par11').text(par[10]);
                                          $('#par12').text(par[11]);
                                          $('#par13').text(par[12]);
                                          $('#par14').text(par[13]);
                                          $('#par15').text(par[14]);
                                          $('#par16').text(par[15]);
                                          $('#par17').text(par[16]);
                                          $('#par18').text(par[17]);

                                          var coursePar = par.reduce(function (previousValue, currentValue, currentIndex, array) {
                                            return previousValue + currentValue;
                                          });
                                          $('#parTotal').text(coursePar);


                                      var yardage = info2.yardage;
                                          $('#yardage1').text(yardage[0]);
                                          $('#yardage2').text(yardage[1]);
                                          $('#yardage3').text(yardage[2]);
                                          $('#yardage4').text(yardage[3]);
                                          $('#yardage5').text(yardage[4]);
                                          $('#yardage6').text(yardage[5]);
                                          $('#yardage7').text(yardage[6]);
                                          $('#yardage8').text(yardage[7]);
                                          $('#yardage9').text(yardage[8]);
                                          $('#yardage10').text(yardage[9]);
                                          $('#yardage11').text(yardage[10]);
                                          $('#yardage12').text(yardage[11]);
                                          $('#yardage13').text(yardage[12]);
                                          $('#yardage14').text(yardage[13]);
                                          $('#yardage15').text(yardage[14]);
                                          $('#yardage16').text(yardage[15]);
                                          $('#yardage17').text(yardage[16]);
                                          $('#yardage18').text(yardage[17]);

                                          var courseYardage = yardage.reduce(function (previousValue, currentValue, currentIndex, array) {
                                            return previousValue + currentValue;
                                          });
                                          $('#yardageTotal').text(courseYardage);
                                  }
                              })

                        }
                });
            };

            $(function() {

                roundData();

            });

</script>
