
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Score Page</title>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/scorepage.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    </head>
    <body>
    <div class='container'>

          <!-- NAVBAR AT TOP OF PAGE -->

          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">i.Caddy</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/profile class='navbarHover'">PROFILE</a></li>
                  <li class="dropdown navbarHover">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OPTIONS<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/mycourses" class='navbarHover'>Submit A New Score</a></li>
                      <li><a href="/scorelist" class='navbarHover'>View All Scores</a></li>
                      <li><a href="/scorecard" class='navbarHover'>Create a New Scorecard Template</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/logout" class='navbarHover'>Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          
        <h3 id='courseName'>Course Name: </h3>
        <h5 id='gameDate'>Date of Round: </h5>
        <h5 id='playingPartners'>Playing Partners: </h5>
        <h5 id='comments'>Commentary on the Round: </h5>
        <br>    



                <div class="panel panel-default">
                        <table class="table">
                            <thead>
                                <tr class="featureHeader panel-heading">
                                    <td>Hole</td>
                                    <td>Par</td>
                                    <td>Yardage</td>
                                    <td>Score</td>
                                    <td>Putts</td>
                                    <td>Nett Score</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1st</td>
                                    <td id='par1'></td>
                                    <td id='yardage1'></td>
                                    <td id='score1'></td>          
                                    <td id='putts1'></td>
                                    <td id='nett1'></td>
                                </tr>
                                <tr>
                                    <td>2nd</td>
                                    <td id='par2'></td>
                                    <td id='yardage2'></td>
                                    <td id='score2'></td>          
                                    <td id='putts2'></td>
                                    <td id='nett2'></td>
                                </tr>
                                <tr>
                                    <td>3rd</td>
                                    <td id='par3'></td>
                                    <td id='yardage3'></td>
                                    <td id='score3'></td>          
                                    <td id='putts3'></td>
                                    <td id='nett3'></td>
                                </tr>
                                <tr>
                                    <td>4th</td>
                                    <td id='par4'></td>
                                    <td id='yardage4'></td>
                                    <td id='score4'></td>          
                                    <td id='putts4'></td>
                                    <td id='nett4'></td>
                                </tr>
                                <tr>
                                    <td>5th</td>
                                    <td id='par5'></td>
                                    <td id='yardage5'></td>
                                    <td id='score5'></td>          
                                    <td id='putts5'></td>
                                    <td id='nett5'></td>
                                </tr>
                                <tr>
                                    <td>6th</td>
                                    <td id='par6'></td>
                                    <td id='yardage6'></td>
                                    <td id='score6'></td>          
                                    <td id='putts6'></td>
                                    <td id='nett6'></td>
                                </tr>
                                <tr>
                                    <td>7th</td>
                                    <td id='par7'></td>
                                    <td id='yardage7'></td>
                                    <td id='score7'></td>          
                                    <td id='putts7'></td>
                                    <td id='nett7'></td>
                                </tr>
                                <tr>
                                    <td>8th</td>
                                    <td id='par8'></td>
                                    <td id='yardage8'></td>
                                    <td id='score8'></td>          
                                    <td id='putts8'></td>
                                    <td id='nett8'></td>
                                </tr>
                                <tr>
                                    <td>9th</td>
                                    <td id='par9'></td>
                                    <td id='yardage9'></td>
                                    <td id='score9'></td>          
                                    <td id='putts9'></td>
                                    <td id='nett9'></td>
                                </tr>
                                <tr>
                                    <td>10th</td>
                                    <td id='par10'></td>
                                    <td id='yardage10'></td>
                                    <td id='score10'></td>          
                                    <td id='putts10'></td>
                                    <td id='nett10'></td>
                                </tr>
                                <tr>
                                    <td>11th</td>
                                    <td id='par11'></td>
                                    <td id='yardage11'></td>
                                    <td id='score11'></td>          
                                    <td id='putts11'></td>
                                    <td id='nett11'></td>
                                </tr>
                                <tr>
                                    <td>12th</td>
                                    <td id='par12'></td>
                                    <td id='yardage12'></td>
                                    <td id='score12'></td>          
                                    <td id='putts12'></td>
                                    <td id='nett12'></td>
                                </tr>
                                <tr>
                                    <td>13th</td>
                                    <td id='par13'></td>
                                    <td id='yardage13'></td>
                                    <td id='score13'></td>          
                                    <td id='putts13'></td>
                                    <td id='nett13'></td>
                                </tr>
                                <tr>
                                    <td>14th</td>
                                    <td id='par14'></td>
                                    <td id='yardage14'></td>
                                    <td id='score14'></td>          
                                    <td id='putts14'></td>
                                    <td id='nett14'></td>
                                </tr>
                                <tr>
                                    <td>15th</td>
                                    <td id='par15'></td>
                                    <td id='yardage15'></td>
                                    <td id='score15'></td>          
                                    <td id='putts15'></td>
                                    <td id='nett15'></td>
                                </tr>
                                <tr>
                                    <td>16th</td>
                                    <td id='par16'></td>
                                    <td id='yardage16'></td>
                                    <td id='score16'></td>          
                                    <td id='putts16'></td>
                                    <td id='nett16'></td>
                                </tr>
                                <tr>
                                    <td>17th</td>
                                    <td id='par17'></td>
                                    <td id='yardage17'></td>
                                    <td id='score17'></td>          
                                    <td id='putts17'></td>
                                    <td id='nett17'></td>
                                </tr>
                                <tr>
                                    <td>18th</td>
                                    <td id='par18'></td>
                                    <td id='yardage18'></td>
                                    <td id='score18'></td>          
                                    <td id='putts18'></td>
                                    <td id='nett18'></td>
                                </tr>
                                <tr class='featureHeader2'>
                                    <td>Total</td>
                                    <td id='parTotal'></td>
                                    <td id='yardageTotal'></td>
                                    <td id='scoreTotal'></td>          
                                    <td id='puttsTotal'></td>
                                    <td id='nettTotal'></td>
                                </tr>    

                            </tbody>
                        </table>
                </div>

    </div>
    </body>
</html>



