
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign Up</title>
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/vendor/underscore/underscore-min.js"></script>
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script src="/static/javascript/newscore.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/newscore.css">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    </head>
    <body>
        <h1>New User Sign Up Page</h1>

            <form method='POST' action='/signup' id='new-user'>

                <input placeholder="Firstname" class="textbox-n" type="text" name='firstname'>
                <input placeholder="Surname" class="textbox-n" type="text" name='surname'>
                <input placeholder="E-Mail Address" class="textbox-n" type="text" name='email'>
                <input placeholder="Password" class="textbox-n" type="password" name='password'>
            
                <button class="btn btn-default form-control">Complete Sign Up</button>

            </form>

    </body>
</html>