

body {
	background-color: white;
}

* {
	border-radius: 0	!important;					/**  Removing rounded edges from  everything  **/
	font-family: 'Pontano Sans', sans-serif;
}



/*****************   NAVBAR RELATED    *******************/

.container-fluid {
	border-color: white;
}

.navbar {
	background-color: white;
	border-color: white;
}

.navbar-toggle {
	background-color: white;
}

.navbar-right {
	background-color: white;
}

.dropdown-menu {
	background-color: white;	
}

.dropdown-toggle {
	background-color: white;
}

.dropdown {
	background-color: white;
}

.dropdown.open {
	background-color: white;
}


/*****  Navbar Hover Related  ******/

.navbarHover:hover {
	background-color: rgba(195, 81, 81, 0.4)		!important;
	text-decoration: underline;
}




/********************  FEATURE BOXES   *********************/

.featureHeader {
	background-color: rgb(195, 81, 81)		!important;
	font-size: 1.1em						!important;
	color: white 							!important; 
}

.featureHeader2 {
	background-color: rgba(195, 81, 81, 0.4);
	font-weight: 500;
	color: #333333;
}

.featureContentRow {
	background-color: #EBEBEB				!important;				
}





/***************  USER INFO BOXES  **********************/

.userInfo {
	margin-top: 15%;
	text-align: center;
}

.userInfoBtn {
	background-color: rgba(195, 81, 81, 0.4);
	width: 100%;
	text-align: center;
}

.noUserInput {
	background-color: none; 
	border-style: none;
	border-color: none;
	outline: none;
}


