

body {
	background-color: #EFEFEF;
}

* {
	border-radius: 0	!important;					/**  Removing rounded edges from  everything  **/
	font-family: 'Pontano Sans', sans-serif;
}



/*****************   NAVBAR RELATED    *******************/

.container-fluid {
	border-color: #EFEFEF;
}

.navbar {
	background-color: #EFEFEF;
	border-color: #EFEFEF;
}

.navbar-toggle {
	background-color: #EFEFEF;
}

.navbar-right {
	background-color: #EFEFEF;
}

.dropdown-menu {
	background-color: #EFEFEF;	
}

.dropdown-toggle {
	background-color: #EFEFEF;
}

.dropdown {
	background-color: #EFEFEF;
}

.dropdown.open {
	background-color: #EFEFEF;
}


/*****  Navbar Hover Related  ******/

.navbarHover:hover {
	background-color: rgba(195, 81, 81, 0.4)		!important;
	text-decoration: underline;
}




/********************  FEATURE BOXES   *********************/

.featureHeader {
	background-color: rgb(195, 81, 81)		!important;
	font-size: 1.1em						!important;
	color: #EFEFEF 							!important; 
}

.featureHeader2 {
	background-color: rgba(195, 81, 81, 0.4);
	font-weight: 500;
	color: #333333;
}

.roundHover:hover {
	background-color: rgba(1, 123, 189, 0.4);
}






/***************  USER INFO BOXES  **********************/

.userInfo {
	margin-top: 15%;
	text-align: center;
}

.userInfoBtn {
	background-color: rgba(195, 81, 81, 0.4);
	width: 100%;
	text-align: center;
}


/*************************  DELETE ROUND BUTTON  ********************************/

.deleteRound {
	text-align: center;
	vertical-align: center;
}

